# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages

before_install:
   - sudo apt-get install netcdf-bin
   - sudo apt-get install libnetcdf-dev